*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}
body{
  font-family: sans-serif;
  user-select: none;
}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
nav{
  height: 70px;
  background: #063247;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 120px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #063247;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: white;
}

nav ul li a:hover,nav ul li a.add{
  color: #23dbdb;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid #23dbdb;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo-rbt{
  position:absolute;
  top:20%;
  left:0%;
  height:287.5px;
  width:210px;
}

.t1{
  position: absolute;
  color:#006666;
  font-size:30px;
  top:30%;
  left:20%;
}

.p1{
  position: absolute;
  margin-top:100px;
  top:60%;
}

.video-presentation{
  position: absolute;
  top:43%;
  left:30%;
}

.t2{
  position: absolute;
  color:#006666;
  font-size:30px;
  top:110%;
  left:20%;
}

.poster{
  position: absolute;
  top:120%;
  left:30%;
}

.drp-en{
  position: relative;
  top:-1980px;
  height:27px;
  width:40px;
  left:94%;
  overflow-x: visible;
  z-index: 3;
}

.drp-fr{
  position: relative;
  top:-1980px;
  height:27px;
  width:40px;
  left:94%;
  overflow-x: visible;
  z-index: 3;
}

.bloc-nav{
  position: absolute;
  top:2000px;
  right:0%;
  height:70px;
  width:100%;
  overflow-x: visible;
  z-index:2;
}


.txt2{
  position: relative;
  color:white;
  left:150px;
  top:-150px;
  font-size:8px;
}


.pied-page{
  position:absolute;
  top:300%;
  width:100%;
  height:300px;
  background-color:#063247;
}

.logo-iut{
  position: relative;
  top:200px;
  height:100px;
  width:80px;
}

.copyright{
  position: relative;
  color:white;
  top:-100px;
  left:150px;
  font-size:8px;
  margin-top:0px;
}

.photo-amir{
  position:relative;
  height: 100px;
  width: 100px;
  top:50px;
  left:130px;
  border-radius: 50%;
  object-fit: cover;
}
.photo-amir:hover{
  filter: blur(3px);
  filter: grayscale(1);
  filter: saturate(2.2);
}

